{
  "openapi": "3.0.3",
  "info": {
    "title": "Appointments & Attendees API",
    "description": "API to manage appointments created by users, with embedded attendees.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.appointmentsapp.com/v1"
    }
  ],
  "paths": {
    "/appointments": {
      "get": {
        "summary": "Get all appointments",
        "responses": {
          "200": {
            "description": "List of all appointments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new appointment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      }
    },
    "/appointments/{id}": {
      "get": {
        "summary": "Get a specific appointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "404": {
            "description": "Appointment not found"
          }
        }
      }
    },
    "/appointments/{id}/attendees": {
      "post": {
        "summary": "Add a new attendee to an appointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the appointment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attendee"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attendee added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid attendee data"
          },
          "404": {
            "description": "Appointment not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attendee"
            }
          }
        }
      },
      "AppointmentInput": {
        "type": "object",
        "required": ["userId", "title", "date", "location", "attendees"],
        "properties": {
          "userId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attendee"
            }
          }
        }
      },
      "Attendee": {
        "type": "object",
        "required": ["name", "email", "rsvp"],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "rsvp": {
            "type": "string",
            "enum": ["yes", "no", "maybe"]
          }
        }
      }
    }
  }
}
